{{> post-info post }}

<h5 class="my-4 mx-5">Comment:</h5>

<div class="w-75 mx-5 my-2">
    <textarea class="form-control" id="comment" placeholder="comment"></textarea>
</div>
<button id="commentBtn" type="click" class="mx-5 p-3 btn btn-dark">Add</button>

<script src="/javascript/add-comment.js"></script>