<div class="card text-dark bg-light w-50 mt-5 mx-auto">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4>Log In To Your Account</h4>
    </div>

    <div class="card-body">
    {{> form "login" }}
    <a class="dropdown-item" href="/signup">Here for the first time? Sign up here!</a>
    </div>
</div>

  <script src="/javascript/login.js"></script>