<div class="card text-dark bg-light w-50 mt-5 mx-auto">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4>Create A Free Account</h4>
    </div>

    <div class="card-body">
    {{> form "signup" }}
    <a class="dropdown-item" href="/login">Are you part of our crew? Log in here!</a>
    </div>

</div>

  <script src="/javascript/login.js"></script>
